@media (max-width:576px){
    h1{
    font-size: 15px;
    }
    .menu_wrapper{
      display: flex;
    }
    .my_list_items > ul{
        display: flex;
        flex-direction: column;
    }
    ul {
        list-style: none;
      }
    #hamburger {
      color: white;
     display: flex;
    }
   
    .header-main-text{
      text-align: center;
    }
    .header_main > .hamburger_wrapper{
     width: 50%;
    }
    .items_list{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      margin: 0;
     }
     .items_list > li{
      text-align: center;
    }
    
    #email {
        height: 35px;
        width: 162.32px;
        margin-top: 2%;
        margin-left: 6rem;
        color: white;
        border: 2px solid grey;
        background-color: blue;
        font-size: medium;
        font-weight: bold;
        text-decoration: none;
      }
      #contact_us{
        display: flex;
        flex-direction: column;
        height: auto;
      }
      .back_to_top{
        margin-bottom: 2rem;
      }
    footer {
      width: 100%;
     
    }
    }
    

body{
    margin: 0;
background: linear-gradient(blue, brown);

}
header{
    position: fixed;
    background-color: black;
    min-height: 15vh;
    padding-top: 0%;
    width: 100%;
    margin-bottom: 1px;
}

li{
    list-style-type: style none;
}
li:hover{
    background:linear-gradient(brown, blue);
    font-size: large;
}
.my_list{
    display: flex;
    width: 60%;
}
.my_list_items {
    width: 100%; 
    display: flex;
    align-items: center;
}
.my_list_items > ul {
    display: flex; 
    justify-content: space-around; 
    width: 100%; 
}
.my_list_items > ul > li > a {
text-decoration: none;
color:white;

}
h3{
    color: white;
}
span{
    color: white;
    padding-bottom: 1rem;
    font-size: 22px;
}
h2{
    color: white;
    text-align: center;
}
p{
    color: white;
    text-align: center;
}
.menu_text{
    padding-top: 20%;
}
button{
    margin-top: 25%;
  background-color: blue;
    text-decoration: white;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
}
button:hover{
background:linear-gradient(blue, brown);
}
#email{
    height: 35px;
    width: 162.32px;
    margin-top: 2%;
    color: white;
    border: 2px solid grey;
    background-color: blue;
   font-size: medium;
   font-weight: bold;
   text-decoration: none;
}
#email:hover{
    background: linear-gradient(blue, brown);
}
footer{
    background-color: black;
    display: flex;
    text-align: center;
    justify-content:space-evenly;
   flex-direction: row;
   width:auto;
   height: 15vh;
}
